@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

:root {
  /* Colours */
  --black: #292a2e;
  --reallyBlack: #222;
  --white: #ffffff;
  --offWhite: #eeefe9;
  --grey: #9a9a9a;
  --blue: #315b7b;
  --green: #0d703f;
  --red: #e6423a;
  --orange: #f07032;
  --yellow: #f1b73a;

  --primary: var(--orange);
  --success: var(--green);
  --warning: var(--yellow);
  --error: var(--red);
  --info: var(--blue);
  --disabled: var(--grey);

  --bodyBackground: var(--offWhite);
  --headerBackground: var(--offWhite);
  --cardBackground: var(--blue);
  --blockquoteBackgroundColour: var(--white);
  --footerBackground: var(--black);
  --buttonBackgroundColour: var(--white);

  --line: solid 1px var(--blue);
  --outlineColour: var(--blue);

  /* Typography */
  --headingFont: 'IBM Plex Mono', monospace;
  --bodyFont: 'IBM Plex Mono', monospace;
  --baseFontSize: 100%;
  --h1: 3.052rem;
  --h2: 2.441rem;
  --h3: 1.953rem;
  --h4: 1.563rem;
  --h5: 1.25rem;
  --smallText: 0.8rem;
  --headingTextColour: var(--blue);
  --headerTextColour: var(--blue);
  --footerTextColour: var(--offWhite);
  --textColour: var(--black);
  --cardTextColour: var(--offWhite);
  --blockquoteTextColour: var(--textColour);
  --preOpacity: 0.7;

  /* Positioning */
  --containerPadding: 2.5%;
  --headerHeight: 3rem;
  --borderRadius: 5px;
  --buttonRadius: 10px;

  /* Elevation*/
  --shadow-1: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
  --shadow-2: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  --shadow-3: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  --shadow-4: 0 20px 25px -5px rgb(0 0 0 / 0.1),
    0 8px 10px -6px rgb(0 0 0 / 0.1);
  --shadow-5: 0 25px 50px -12px rgb(0 0 0 / 0.25);
  --shadow-inner: inset 0 2px 4px 0 rgb(0 0 0 / 0.05);
}

@media only screen and (min-width: 500px) {
  :root {
    --baseFontSize: 112.5%;
  }
}

/* Base */

html {
  font-size: var(--baseFontSize);
  box-sizing: border-box;
} /*18px*/

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: var(--bodyFont);
  font-weight: 400;
  line-height: 1.75;
  background: var(--bodyBackground);
  color: var(--textColour);
}

/* Typography */

p {
  margin-bottom: 1rem;
  max-width: 45em;
}

p a {
  color: var(--textColour);
  text-decoration: none;
  border-bottom: solid 2px var(--primary);
}

blockquote a {
  color: var(--blockquoteTextColour);
  text-decoration: none;
  border-bottom: solid 2px var(--primary);
}

p a:hover,
blockquote a:hover {
  color: var(--primary);
}

h1,
h2,
h3,
h4,
h5 {
  margin: 3rem 0 1.38rem;
  font-family: var(--headingFont);
  font-weight: 400;
  line-height: 1.3;
  color: var(--headingTextColour);
}

h1 {
  margin-top: 0;
  font-size: var(--h1);
}

h2 {
  font-size: var(--h2);
}

h3 {
  font-size: var(--h3);
}

h4 {
  font-size: var(--h4);
}

h5 {
  font-size: var(--h5);
}

small,
.text_small {
  font-size: var(--smallText);
}

pre {
  opacity: var(--preOpacity);
  font-size: var(--smallText);
}

blockquote {
  background: var(--blockquoteBackgroundColour);
  color: var(--blockquoteTextColour);
  margin: 1em;
  padding: 2em;
  box-shadow: var(--shadow-3);
  border-radius: var(--borderRadius);
}

hr {
  border-top: var(--line);
  border-bottom: none;
}

/* Forms */

label {
  display: block;
  font-size: var(--smallText);
}

input:focus,
textarea:focus,
button:focus {
  outline-color: 3px solid var(--outlineColour);
  border-color: var(--white);
}

input,
textarea {
  background: var(--buttonBackgroundColour);
  padding: 4px 6px;
  border: var(--line);
  border-radius: var(--borderRadius);
}

::placeholder {
  color: var(--disabled);
}

textarea {
  width: 100%;
  height: 5rem;
}

select {
  border: var(--line);
  background: var(--bodyBackground);
}

button,
input[type='button'] {
  --buttonTextColour: var(--info);
  appearance: none;
  border: var(--line);
  background-color: var(--buttonBackgroundColour);
  color: var(--buttonTextColour);
  border-radius: var(--buttonRadius);
  padding: 5px 25px;
  margin: 0 5px;
  box-shadow: var(--shadow-1);
  transition: 0.2s ease-out box-shadow;
}

button:hover {
  box-shadow: var(--shadow-2);
  cursor: pointer;
}

button[disabled] {
  opacity: 0.4;
}

button.submit {
  --buttonBackgroundColour: var(--success);
  --buttonTextColour: var(--white);
  background-color: var(--buttonBackgroundColour);
  color: var(--buttonTextColour);
  border-color: var(--buttonBackgroundColour);
}

button.cancel {
  --buttonBackgroundColour: var(--error);
  --buttonTextColour: var(--white);
  background-color: var(--buttonBackgroundColour);
  color: var(--buttonTextColour);
  border-color: var(--buttonBackgroundColour);
}

button.small {
  font-size: var(--smallText);
  padding: 4px 15px;
}

/* Layouts */

.layout {
  padding: calc(1rem + var(--headerHeight)) var(--containerPadding) 0;
  height: 100%;
  min-height: 100vh;
}

.grid {
  --gridCols: 2;
  display: block;
  grid-template-columns: repeat(var(--gridCols), 1fr);
}
@media only screen and (min-width: 500px) {
  .grid {
    display: grid;
  }
}

.cols-3 {
  --gridCols: 3;
}

.grid--split {
  grid-template-columns: 1fr 2fr;
  gap: 1rem;
}

.flex {
  --justifyContent: space-between;
  display: block;
  justify-content: var(--justifyContent);
}
@media only screen and (min-width: 500px) {
  .flex {
    display: flex;
  }
}

.flex-around {
  --justifyContent: space-around;
}

/* Components */

header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  background-color: var(--headerBackground);
  color: var(--headerTextColour);
  height: var(--headerHeight);
  border-bottom: 2px solid var(--outlineColour);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 var(--containerPadding);
}

header nav a {
  color: var(--headerTextColour);
  text-decoration: none;
}

header nav a:hover {
  color: var(--primary);
  border-bottom: 1px solid var(--primary);
  text-decoration: none;
}

header nav a + a {
  margin-left: 12px;
}

.active-link {
  color: var(--primary);
}

.logo {
  text-decoration: none;
}

.logo h1 {
  color: var(--headerTextColour);
  font-size: var(--baseFontSize);
  margin: 0;
}

footer {
  background: var(--footerBackground);
  color: var(--footerTextColour);
  width: 100%;
  padding: 1rem var(--containerPadding);
  min-height: 13rem;
}
footer nav {
  margin-top: 1rem;
}

footer a {
  color: var(--footerTextColour);
  text-decoration: none;
  margin: 0 1rem;
}

footer p {
  margin-top: 5rem;
  max-width: none;
}

.card {
  background: var(--cardBackground);
  color: var(--cardTextColour);
  /* margin: 1em; */
  padding: 2em;
  box-shadow: var(--shadow-4);
  border-radius: var(--borderRadius);
}

.card h3 {
  color: var(--cardTextColour);
}

.card > *:first-child {
  margin-top: 0;
}

.card > *:last-child {
  margin-bottom: 0;
}

.split {
  display: grid;
  grid-template-columns: 33% 67%;
  gap: 2rem;
}

.page-heading {
  margin: 0;
}

/* .theme--dark { */
/* --bodyBackground: var(--black); */
/* --textColour: var(--offWhite); */
/* --headingTextColour: var(--orange); */
/* --blockquoteBackgroundColour: var(--offWhite); */
/* --blockquoteTextColour: var(--blue); */
/* --headerBackground: var(--reallyBlack); */
/* --footerBackground: var(--reallyBlack); */
/* --buttonBackgroundColour: var(--offWhite); */
/* --line: solid 1px var(--yellow); */
/* } */

/* .oled { */
/* --black: #000; */
/* --reallyBlack: #000; */
/* --textColour: var(--offWhite); */
/* --headingTextColour: var(--orange); */
/* --blockquoteBackgroundColour: var(--grey); */
/* --blockquoteTextColour: var(--black); */
/* --cardBackground: var(--grey); */
/* --cardTextColour: var(--black); */
/* --buttonBackgroundColour: var(--offWhite); */
/* --line: solid 1px var(--yellow); */
/* } */

/* .theme--pastel { */
/* Colours */
/* --dark: #001858; */
/* --light: #fef6ef; */
/* --pink: #f582ae; */
/* --lightBlue: #8bd3dd; */
/* --beige: #f3d2c1; */
/*  */
/* --primary: var(--pink); */
/* --success: var(--pink); */
/* --warning: var(--beige); */
/* --error: var(--dark); */
/* --info: var(--blue); */
/* --disabled: var(--grey); */
/*  */
/* --bodyBackground: var(--light); */
/* --headerBackground: var(--beige); */
/* --cardBackground: var(--pink); */
/* --blockquoteBackgroundColour: var(--lightBlue); */
/* --footerBackground: var(--dark); */
/* --buttonBackgroundColour: var(--lightBlue); */

/* --line: solid 3px var(--dark); */
/* --outlineColour: var(--primary); */

/* --shadow-1: 0 2px 2px 0 rgb(0 0 0 / 0.4), 0 2px 1px -1px rgb(0 0 0 / 0.4); */
/* --shadow-2: 0 4px 6px -1px rgb(0 0 0 / 0.3), 0 2px 4px -2px rgb(0 0 0 / 0.3); */
/* --shadow-3: 0 10px 2px -3px rgb(0 0 0 / 0.3), 0 4px 1px -4px rgb(0 0 0 / 0.3); */
/* --shadow-4: 0 20px 5px -5px rgb(0 0 0 / 0.3), 0 8px 3px -6px rgb(0 0 0 / 0.3); */
/* --shadow-5: 0 25px 50px -12px rgb(0 0 0 / 0.3); */

/* Typography */
/* --bodyFont: 'EestiText', sans-serif; */
/* --headingFont: 'Drogowskaz', sans-serif; */
/* --headingTextColour: var(--dark); */
/* --headerTextColour: var(--dark); */
/* --footerTextColour: var(--dark); */
/* --textColour: var(--dark); */
/* --cardTextColour: var(--light); */
/* --blockquoteTextColour: var(--textColour); */
/* --borderRadius: 0; */
/* --buttonRadius: 3px; */
/* } */
